#adjustGrid {
  margin: 10px;
}

#mainGrid {
  display: flex;
  flex-direction: column;
}

.cellRow {
  display: flex;
}

.cell {
  background: #999999;
  flex: auto;
  aspect-ratio: 1;
}

.cell.active {
  background: #000000;
}
